.containerNot {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    
    
}


.notItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 56px;
    margin-bottom: 20px;
    color: var(--primary-grey);
    background: #F6F6F9;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}