.containerCabinet{
    padding: 80px 115px;
}

.titleCab {
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-black);
}

.navDiv {
    outline: none;
    width: 270px;
    height: 72px;
    color: var(--interface-text-1) ;
    font-weight: 500;
    font-size: 18px;
    background: none;
    border: 1px solid var(--interface-line);
    margin: 0;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navDiv:hover {
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.navActive {
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    width: 270px;
    height: 72px;
    font-weight: 500;
    font-size: 18px;
    background: none;
    margin: 0;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.svg {
    margin-right: 20px;
    fill: var(--interface-text-1)
}

.logoSvg {
    margin-right: 20px;
    fill: var(--primary-blue)
}

