.docTitle {

    width: 220px;
    height: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 49px;

    color: var(--primary-black);
    margin-bottom: 10px;
}

.question {
    display: flex;
}

.question div {
    flex: 1;
}


.questionListItem {
   
    
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    
    color: var(--primary-grey);
    margin-bottom: 23.5px;
    }
    

.questionListItem1 {
display: flex;

font-weight: 700;
font-size: 18px;
line-height: 25px;


color: var(--primary-grey);
margin-bottom: 23.5px;
}

.listD {

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
    color: var(--interface-text-1);
}
.listD li {
margin-top: 30px;

}

.plus:hover {
background:  var(--interface-text-2);
border-radius: 10px;
}