.containerAuto {
    padding: 80px 115px;
}

.formAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleAuto {
    margin-top: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 37px;
    color: var(--primary-black);
}

.titleAuto span {
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.linkAuto {
    text-decoration: underline;
    color: var(--primary-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
}

.buttonLinc {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--primary-grey);
}

.akk {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-grey);
}

.clickMe {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: var(--primary-blue);
}

.butAut {
    width: 430px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--primary-white);
    background: var(--primary-blue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.butAut:hover {
    background: #01B8D4;
}

.butAut:active {
    background: #01BEDB;
}

.inpMy {
    outline: none;
    width: 430px;
    height: 56px;
    background: var(--interface-input);
    border-radius: 5px;
    border: none;
    padding-left: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--primary-grey)
}

.inpMy::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--second-grey);
}

.inpMy:hover {
    border: 1px solid var(--primary-blue);
}

.inpMy:focus {
    border: 1px solid var(--primary-blue);
}

.lab {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--interface-text-1)
}

.login {
    position: absolute;
    top: 35px;
    visibility: hidden;
    margin-left: 12.5px;
}