.mainItem1 {
    display: flex;
    align-items: center;
    padding: 80px 115px;
    gap: 215px;
    background: var(--interface-fon);
}

.mainItem3 {
    padding: 80px 115px;
    background: var(--interface-fon);
}

.im1 {
    width: 505px;
    height: 502px;
    margin-top: 80px;
    margin-right: 115px;
}

.reestr {
    width: 450px;
    height: 198px;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: var(--primary-black);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 80px;
    margin-bottom: 20px;
}


.title {
    width: 404px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--interface-text-1);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}


.PO {
    width: 277px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--interface-text-1);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-bottom: 40px;
}

.colorNum {
    color: var(--primary-blue);
}


.inpBut {
    display: flex;
    position: absolute;
}

.inpBut input {
    outline: none;
    width: 330px;
    height: 56px;
    background: var(--primary-white);
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding-left: 49px;
}

.inpBut input:hover {
    border: 1px solid var(--primary-blue);
}

.inpBut input::placeholder {
    width: 118px;
    height: 19px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--second-grey);
}

.inpBut button {
    width: 120px;
    height: 56px;
    background: var(--primary-blue);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--primary-white);
    outline: none;
}

.inpBut button:hover {
    background: #01B8D4;
}

.inpBut button:active {
    background: #01BEDB;
}

.searchImg {
    position: absolute;
    left: 3.44%;
    right: 16.2%;
    top: 25.4%;
    bottom: 16.42%;
}

.mainItem2 {
    display: flex;
    flex-direction: column;
    padding: 80px 115px;
    background: var(--primary-white);
}

.titleReestr {
    flex: 1;
    width: 167px;
    height: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-black);
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}

.voronka {
    margin-right: 30px;
}


.newsTitle {
    width: 331px;
    height: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-black);
    margin-bottom: 40px;
}

.butNews {
    width: 270px;
    height: 56px;
    background: var(--primary-blue);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--primary-white);
    cursor: pointer;
}

.butNews:hover {
    background: #01B8D4;
}

.butNews:active {
    background: #01BEDB;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}